{% extends 'base.html.twig' %}

{% block title %}Changer MDP - Symfocar{% endblock %}

{% block body %}

    <div class="wrapper">
        <h1>Modifier votre mot de passe</h1>
        <a role="button" href="{{path('app_account')}}" class="btn btn-primary current-btn">Retour au dashboard</a>

        <hr>
        {{ form_start(updatePasswordForm) }}
        {{ form_row(updatePasswordForm.old_password) }}
        {{ form_row(updatePasswordForm.new_password) }}
        <button type="submit" class="btn btn-warning ">Modifier</button>
        {{ form_end(updatePasswordForm) }}
        <hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
    </div>
{% endblock %}
