{% extends 'base.html.twig' %}

{% block title %}Mon compte - Symfocars{% endblock %}

{% block body %}


<div class="wrapper">
   <h1>Mon Compte {% if is_granted("ROLE_ADMIN") %}Admin{% endif %}</h1>
    <hr>
    <h4>Bonjour {{app.user.firstname}},</h4>  

    <p>Bienvenu dans votre espace </p>
    </p>
    <hr>

    

    <div class="container col-12 g-2">
        {% if is_granted("ROLE_ADMIN") %}
        <div class="card col-2">
            <a href="{{path('app_admin')}}">
                <div class="box">
                    <div class="content">
                        <i class="fa-solid fa-briefcase"></i>
                        <h3>Accéder à l'admin</h3>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        <div class="card {% if is_granted("ROLE_ADMIN") %} col-2 {% else %} col-3 {% endif %}">
            <a href="{{path('app_accountPassword')}}">
                <div class="box">
                    <div class="content">
                        <i class="fa-solid fa-lock"></i>
                        <h3>Modifier mon mot de passe</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="card {% if is_granted("ROLE_ADMIN") %} col-2 {% else %} col-3 {% endif %}">
            <a href="{{path('app_account_adress')}}">
                <div class="box">
                    <div class="content">
                        <i class="fa-solid fa-house-circle-check"></i>
                        <h3>Gérer mes adresses</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="card {% if is_granted("ROLE_ADMIN") %} col-2 {% else %} col-3 {% endif %}">
            <a href="{{path('app_account_order')}}">
                <div class="box">
                    <div class="content">
                        <i class="fa-solid fa-wallet"></i>
                        <h3>Mes commandes</h3>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>
{% endblock %}
