{% extends 'base.html.twig' %}

{% block title %}Login - Symfocar{% endblock %}

{% block body %}

<div class="wrapper login-logout">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en temps que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 >Veuillez vous connecter</h1>
        <input type="email" value="{{ last_username }}" placeholder="Saisissez votre email" name="email" id="inputEmail" class="form-control mb-5" autocomplete="email" required autofocus>
        <input type="password" name="password" id="inputPassword" placeholder="Saisissez votre mot de passe" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        
            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html #}

            <div class="checkbox mt-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
       

        <button class="btn btn-lg btn-primary current-btn my-4 col-12" type="submit">
            Se connecter
        </button>
        <hr>
        <p class="text-center"> <a href="{{ path('app_resetPassword') }}">Mot de passe oublié ?</a> |  <a href="{{ path('app_register') }}">S'inscrire</a></p>


    </form>
</div>
{% endblock %}
