{% extends 'base.html.twig' %}

{% block title %}Réservation - Symfocar{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Réservation</h1>

    <hr>
    
    {# Composant React pour la sélection de la date et la soumission du formulaire #}
    <div id="car-reservation"></div>
    
    {# Sélection du produit #}
    <div>
        {# Boucle pour afficher uniquement les voitures disponibles #}
        {% for car in availableCars %}
            {% if car.isDispo %}
                <div class="card">
                    <div class="col-6">
                        {{ car.name }} <br> {{ car.price }} € <br> {{ car.rentCategory }} <br> 
                        <img src="{{ asset('assets/images/uploads/rent/' ~ car.illustration) }}" alt="{{ car.name }}" class="img-fluid">
                    </div> 
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

{{ encore_entry_script_tags('app') }}
{% endblock %}
