{% extends 'base.html.twig' %}

{% block title %}paiement de ma commande - Symfocars{% endblock %}

{% block body %}


<div class="wrapper text-center">
   <h1>Mon recapitulatif</h1>
   <p>Vérifiez vos infos avant de payer votre commande</p>
   <hr>
   <div class="row mt-5 ">

        <div class="col-md-6">
            <div class="row d-flex justify-content-center ">

                <div class="card col-md-10 p-4 form-check">
                    <div class="card-body">
                        <div class="mb-4"><b class="card-title">Mon adresse de livraison</b></div>
                        <p class="card-text">{{delivery|raw}}</p>
                    </div>
                </div>

                <div class="card col-md-10 form-check">
                    <div class="card-body">
                        <div class="mb-4"><b class="card-title">Mon transporteur</b></div>
                        <p class="card-text">
                        <i>{{carrier.name}}</i><br>
                        <i>{{carrier.description}}</i><br>
                        <strong>{{(carrier.price)|number_format(2, ',', ' ')}} €</strong><br></p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-md-6 ">
            <div class="card order-summary-recap ">

                <div class="mt-2 mb-4"> <b >Récap de ma commande</b> </div>

                {% set total = 0 %}
                
                {% for key,product in cart %}
                    <div class="row">
                        <div class="col-4"><img src="{{ asset('assets/images/uploads/' ~ product.product.illustration) }}" alt="{{product.product.name}}" height="75px"></div>
                        <div class="col-6 my-auto">{{product.product.name}} <br>
                            <small>{{product.product.subtitle}}</small>
                        </div>
                        <div class="col-2 my-auto">X {{product.quantity}}</div>
                    </div>

                    {% set total = total + (product.product.price * product.quantity) %}
                    
                {% endfor %}
            </div>
            <hr>

            <div class="row">
                <strong class="col-6">Sous-total</strong>
                <div class="col-6 text-end">{{(total / 100)|number_format(2, ',', ' ')}} €</div>

                <strong class="col-6">Livraison</strong>
                <div class="col-6 text-end">{{ (carrier.price)|number_format(2, ',', ' ') }} €</div>

                <strong class="col-6">Total</strong>
                <div class="col-6 text-end">{{ ((total / 100) + carrier.price)|number_format(2, ',', ' ') }} €</div>

                <strong class="col-6">TVA</strong>
                <div class="col-6 text-end"> {{ (((total / 100) + carrier.price) * 0.2)|number_format(2, ',', ' ') }} €</div>
                <hr>
                <strong class="col-6">Total TTC</strong>
                <div class="col-6 text-end">{{ (((total / 100) + carrier.price) * 1.2 )|number_format(2, ',', ' ') }} €</div>
                {# <strong class="col-12 mt-5">Vous avez un code promo ?</strong>
                <div class="col-12 mb-5">
                    <form action="" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Code promo">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button">Appliquer</button>
                            </div>
                        </div>
                    </form>
                    <small>Vous pourrez appliquer votre code promo à l'étape suivante</small>

                </div> #}
            </div>

        </div>
        
        <form action="{{path('app_stripe_create_session')}}" method="POST">
            <input type="hidden" name="reference" value="{{ reference }}">
            <button type="submit" class="btn btn-success btn-block mt-3 current-btn mb-5 px-5" width="100%" id="checkout-button">
                <strong>Payer | {{ (((total / 100) + carrier.price) * 1.2 )|number_format(2, ',', ' ') }} €</strong>
            </button>
        </form>
    </div>
    
    


</div>
{% endblock %}

{# {% block script %}
    <script type="text/javascript">
        let stripe = Stripe('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'); 
        let checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function() {
            fetch('/commande/create-session', {
                method: 'POST',
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function(result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        });
    </script>
{% endblock %} #}


